<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Md. Ahsan Habib</title>
</head>
<body>
    <div class="container pt-3">
        <div class="row">
            <div class="col-sm-2">
                <img src="/static/image/ahsan.jpg" alt="Ahsan Habib" class="rounded-circle" width="150px" height="150px">
            </div>
            <div class="col-sm-10" style="padding: 10px; font-family:'Times New Roman', Times, serif">
                <h3><b>Md. Ahsan Habib</b></h3>
                <h5 style="color:darkgray">Competitive Programmer and Web Developer</h5>
                <h6>Love Competitive Programming and Solving New Problems</h6>
            </div>

        </div>
        <h1 class="border-bottom" style="border-bottom: 1px solid; margin-top: 10px;"></h1>
        <div class="row">
            <div class="col-sm-6">
                
                <div class="row">
                    <div class="col-sm-1">
                            <i class="material-icons">email</i>
                            
                    </div>
                    <div class="col-sm-11">
                        <p>ahsan.just.cse@gmail.com</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                            <i class="material-icons">phone</i>
                    </div>
                    <div class="col-sm-11">
                        <p >+880 1795-069210</p>
                    </div>
                </div>
                
            </div>
            <div class="col-sm-6" style="padding: 10px; font-family:'Times New Roman', Times, serif">
                
            </div>

        </div>
        <h1 class="border-bottom" style="border-bottom: 1px solid; margin-top: 10px;"></h1>
        <div class="row" margin-top="10px">
            <div class="col-sm-6">
                <h4>Education</h4>
                <div style="margin-left: 29px; border: 1px solid; border-radius:5px ;padding: 10px;">
                    <h5>University</h5>
                    <h6>B.Sc in Computer Science and Engineering(CSE) at<br>
                     Jashore University of Science and Technology</h6>
                    <p>2017-Present</p>
                </div>
                <div style="margin-left: 29px;margin-top: 10px; border: 1px solid; border-radius:5px ;padding: 10px;">
                    <h5>College</h5>
                    <h6>H.S.C in Science at<br>
                     Alamdanga Govt. College, Alamdanga, Chuadanga</h6>
                    <p>2014-2016</p>
                </div>
                
            </div>
            <div class="col-sm-6">
                <h4>Skills</h4>
                <div style="margin-left: 29px;">
                    <h6 style="background-color: darkgray; border-radius: 5px; width:270px; height: 30px;padding: 5px;">Programming: Puthon, C/C++, Java</h6>
                    <h6 style="background-color: darkgray; border-radius: 5px; width:200px; height: 30px;padding: 5px;">Framework: Django, Flask</h6>
                    <h6 style="background-color: darkgray; border-radius: 5px; width:200px; height: 30px;padding: 5px;">Database: MySQL, SQLite</h6>
                    <h6 style="background-color: darkgray; border-radius: 5px; width:330px; height: 30px;padding: 5px;">Front End: HTML, CSS, Bootstrap, JavaScript</h6>
                    <h6 style="background-color: darkgray; border-radius: 5px; width:220px; height: 30px;padding: 5px;">Operating System: Windows</h6>
                    <h6 style="background-color: darkgray; border-radius: 5px; width:250px; height: 30px;padding: 5px;">Development Tools: Git, XAMMP</h6>
                </div>
                
            </div>

        </div>
        <h1 class="border-bottom" style="border-bottom: 1px solid; margin-top: 10px;"></h1>
        <div class="row" margin-top="10px">
            <div class="col-sm-6">
                <h4>Personal Projects</h4>
                <div style="margin-left: 29px; margin-top: 10px;">
                    <h5>Blood Aid Bank</h5>
                    <h6>B.Sc in Computer Science and Engineering(CSE) at<br>
                     Jashore University of Science and Technology</h6>
                    <p>2017-Present</p>
                </div>
                <div style="margin-left: 29px;margin-top: 10px;">
                    <h5>Online Admission System</h5>
                    <h6>H.S.C in Science at<br>
                     Alamdanga Govt. College, Alamdanga, Chuadanga</h6>
                    <p>2014-2016</p>
                </div>
                
            </div>
            <div class="col-sm-6">
                <div style="margin-top: 10px;">
                    <h4>Programming Experiences Onsite</h4>
                    <ul>
                        <li>International Collegiate Programming Contest(ICPC)- 2019</li>
                        <li>Braincraft Ltd.- Bitfest IUPC-2019, KUET</li>
                    </ul>
                </div>
                <div style="margin-top: 10px;">
                    <h4 >Programming Experiences Online</h4>
                    <h6 style="margin-left: 29px">500+ Problem Solved in Various Online Judge<br>
                     </h6>
                    
                </div>
                
            </div>

        </div>
    </div>
</body>
</html>